@import url('reset.css');
@import url('typography.css');
@import url('layout.css');
@import url('navigation.css');


@media screen and (max-width: 499px) {
    html {
        font-size: 12px;
    }

    blockquote.bq.right,
    img.right,
    img.left{
        margin: 2em auto;
        display: block;
        float: none;
    }
}

@media screen and (min-width: 500px) {
    html {
        font-size: 14px;
    }
}

@media screen and (min-width: 600px) {
    html {
        font-size: 16px;
    }
}

@media screen and (min-width: 800px) {
    html {
        font-size: 18px;
    }
}

@media screen and (min-width: 1300px) {
    html {
        font-size: 21px;
    }
}

@media screen and (min-width: 1800px) {
    html {
        font-size: 23px;
    }
}