*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

.container {
    margin: auto;
    display: flex;
    max-width: 65vw;
}

.week {
    display: flex;
    flex: 1 1 100%;
    min-height: 6rem;
}

span {
    padding-top: 1rem;
    display: flex;
    border: 1px black solid;
    /*flex-direction: column;*/
}

.workweek {
    justify-content: center;
    display: flex;
    flex: 1 0 70%;
    min-height: 4rem;
}

.days {
    display: flex;
    flex: 1 0 20%;
}

.reminder {
    justify-content: center;
    display: flex;
    flex: 1 0 28%;
    min-height: 4rem;


}

.notes {
    display: flex;
}