*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

.container-icons {
    margin: auto;
    display: flex;
    max-width: 65vw;
    flex-wrap: wrap;
}

.week {
    display: flex;
    flex: 1 1 100%;
    min-height: 6rem;
}

span {
    padding-top: 1rem;
    display: flex;
    border: 1px black solid;
    justify-content: center;
}

.workweek {
    flex-wrap: wrap;
    display: flex;
    flex: 1 0 70%;
    min-height: 6rem;
}

.reminder {
    display: flex;
    flex: 1 0 28%;
    min-height: 6rem;
}

.days {
    display: flex;
    flex: 1 1 100%;
    min-height: 6rem;
}

.days span{
    display: flex;
    flex: 1 0 auto;
}

.notes {
    display: flex;
    flex: 1 0 100%;
}