*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body{
    max-width: 60rem;
    margin: 2rem auto;
}

header{
    display: flex;
    border-bottom: 2px solid rgb(0,0,0);
    padding: 2rem;
}

header p{
    margin: 0;
    padding: 0;
    display: flex;
    font: 3rem Arial, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    flex: 1 0 55%;
    align-items: flex-end;
    line-height: 1;
}

header nav{
    display: flex;
    align-items: center;
    margin-left: auto;
    line-height: 1;
}

header nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

header nav ul li{
    list-style: none outside;
    padding: 1em;
}

header nav ul li a {
    color: rgb(0, 153, 0);
    text-decoration: none;
    font-family: Arial, sans-serif;
}

main{
    padding: 2rem;
}

h1{
    margin-bottom: 1.5rem;
}

main p{
    margin-bottom: 1rem;
}