*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
}

body{
    padding: 2rem;
}

.container{
    background: #666;
    color: #FFFFFF;
    padding: 1rem;
    display: flex;
    /*min-height: 60vh;*/
    min-width: 10rem;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    /*flex-direction: column;*/
    /*align-content: flex-end;*/
}

.item{
    background: #F00;
    flex: 1 0 2rem;
}

/*.item:nth-child(4){*/
/*    order: 1;*/
/*}*/

