* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html {
    box-sizing: inherit;
    font: 16px/1.5 Helvetica, sans-serif;
}

body{
    background-color: rgb(238, 238, 238);
    color: rgb(51, 51, 51);
    margin: 2rem;
}

h1 {
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
}

h2 {
    font-size: 1.3rem;
    margin-bottom: 1.3rem ;
}

article {
    display: inline-block;
    width: 70%;
    max-width: 60rem;
}

aside{
    display: inline-block;
    width: 25%;
    vertical-align: top;
    margin-left: 2rem;
}

ul {
    margin: 1rem 0;
}

li {
    margin-left: 2.5rem;
}

.picture {
    box-sizing: border-box;
    margin: 1rem 0;
    width: 65%;
}

header > p{
    margin-bottom: 2rem;
}