*, *:before, *:after {
    margin: 0;
    padding: 0;
}

.cleaner:after {
    display: block;
    content: '';
    clear: both;
}

html {
    box-sizing: border-box;
    font-family: Helvetica, Arial sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

.page {
    display: flex;
    flex-wrap: wrap;
}

body {
    font: inherit;
    width: 80%;
    max-width: 60rem;
    margin: 2rem auto;
    background: rgb(238, 238, 238);
}

header {
    margin-bottom: 1rem;
    border-bottom: 2px solid #000;
    flex: 1 1 100%;
}

.site-title {
    font-family: Helvetica, Arial sans-serif;
    font-size: 2.5rem;
    text-transform: uppercase;
    line-height: 1.5;
    font-weight: bold;
}




main {
    /*display: flex;*/
    flex: 1 1 70%;
    flex-wrap: wrap;
    margin-right: 3rem;
}

.right {
    float: right;
    margin: 0 0 0 1rem;
}

.left {
    float: left;
    margin: 0 1rem 0 0;
}

.bq {
    width: 45%;
    font-family: Georgia, serif;
    font-style: italic;
    margin: 2rem;
    padding: 1rem 0rem 0rem 2rem;
    border-left: 5px solid #cccccc;
}

blockquote p:nth-of-type(2) {
    text-align: right;
    margin-right: 3rem;
}

img {
    border: 2px solid #000;
    padding: 1rem;
    background: rgb(255, 255, 255);
    box-shadow: 5px 5px 30px 10px rgba(0, 0, 0, 0.11);
    margin: 1rem;
    /*justify-content: right;*/
    /*flex-wrap: wrap;*/
}







aside {
    /*margin-left: 5rem;*/
    flex: 1 1 20%;
    flex-wrap: wrap;
}

aside ul {
    list-style: square;
    margin-left: 2rem;
}

aside ul a {
    text-decoration: none;
    color: rgb(0, 153, 0);
}










p {
    margin-bottom: 1em;
    /*flex-wrap: wrap;*/
}

h1, h2, h3, h4, h5, h6 {
    font-family: Georgia, serif;
    line-height: 1.2;
    padding: 0;
    font-weight: bold;
}

h1 {
    font-size: 2.8em;
    margin: 1.2em 0 0.5em 0;
}

h2 {
    font-size: 2.5em;
    margin: 1em 0 0.5em 0;
}

h3 {
    font-size: 2em;
    margin: 1.2em 0 0.5em 0;
}

h4 {
    font-size: 1.6em;
}

h5 {
    font-size: 1.4em;
}

h6 {
    font-size: 1.2em;
}