body, form, select, input, textarea, option, legend {
    font: inherit;
    box-sizing: inherit;
}

body{
    width: 65em;
    margin: 0 auto;
    position: relative;
}

header{
    width: 100%;
    display: flex;
    background: var(--main-color);
    justify-content: space-between;
    color: var(--header-color-text);
    padding: 0.8em 0;
    z-index: 20;
}

.phone{
    padding-left: 2em;
}

.socials{
    padding-right: 2em;
}

.socials p i{
    padding-left: 1em;
}

.head{
    background-image: url('images/head-image-background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 30em;
    width: auto;
    position: relative;
}

.head:after{
    /*background-image: linear-gradient(to bottom, #000000, #ffffff);*/
    background: black;
    opacity: 0.45;
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    z-index: 10;
    content: '';
}

nav{
    background: #FFFFFF;
    opacity: 0.8;
    z-index: 20;
}

nav ul {
    padding-right: 2em;
    list-style: none outside;
    display: flex;
    margin: 1em 0 1em auto;
    justify-content: right;
}

nav ul li {
    /*padding-left: 5em;*/
    justify-content: right;
}

.cta-button{
    width: 10%;
    margin: 0 auto 0 auto;
    background: var(--cta-button-background);
    color: var(--cta-button-text-color);
    border: 3px solid var(--cta-button-background);
    border-radius: 0.6rem;
    padding: 0.8em;
    transition: color ease-in-out 0.3s, background ease-in-out 0.3s;
    z-index: 20;
}

.cta-button:hover{
    background: white;
    color: var(--main-color);
}

.key-points{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    background: #FFFFFF;
}

.container-title{
    flex: 0 0 100%;
    text-align: center;
    margin: 1em auto;
}

h2::after {
    display: block;
    content: '';
    width: 1.5em;
    height: 3px;
    background: var(--main-color);
    margin: 1em auto 0 auto;
}

.key-points .container-element {
    text-align: center;
    flex: 0 0 25%;
    margin-bottom: 3.5em;
}

.offer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    background: var(--offer-background);
}

.offer-element{
    text-align: center;
    flex: 0 0 28%;
    margin-bottom: 3.5em;
}

.offer-element .pic{
    position: relative;
    overflow: hidden;
    border-radius: 0.5em;
}


.pic:before{
    display: block;
    content: '';
    padding-top: 56.25%;
}

section .offer-element .pic img{
    display: block;
    max-width: 100%;
    height: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

footer{
    background: var(--main-color);
    text-align: center;
    padding: 0.8em;
}