@import url(https://use.fontawesome.com/releases/v5.8.2/css/all.css);
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700|PT+Serif:400,700&display=swap');

@import url('reset.css');
@import url('variables.css');
@import url('tipography.css');
@import url('layout.css');
@import url('responsive.css');





p.name{
    font-size: 1.3em;
    text-align: center;
    font-weight: 700;
    margin: 1em  auto 0.2em auto;
}

p.position{
    font-size: 1.3em;
    text-align: center;
    color: var(--main-color);;
    margin: 0em  auto 0.5em auto;
}



