:root {
    --main-color: #336699;
    --main-background: rgb(236	236	236);
    --index-title-color: #FFFFFF;

    --nav-color-text: #336699;
    --header-color-text: #FFFFFF;

    --offer-background: rgb(239	239	239);

    --cta-button-background: #336699;
    --cta-button-text-color: #FFFFFF


}