@import url('../../tipography.css');

body {
    padding: 2rem;
}

.site {
    max-width: 60rem;
    margin: 0 auto;
}

.site-header {
    border-bottom: 2px solid #333;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
}

.site-header a {
    text-decoration: none;
    color: #000;
    outline: none;
}

.site-header nav {

}

.site-header nav ul {

}

.site-header nav li {
    display: inline-block;
}

.site-header nav a {
    display: block;
    padding: 0.5rem 1rem;
    border: 1px solid #cccccc;
}

.site-header nav a:focus, .site-header nav a:hover {
    border-color: #000;
    background: #000;
    color: #FFF;
}

.site-footer {
    border-top: 2px solid #333;
    padding-top: 1rem;
    margin-top: 2rem;
}

/*
    Layout
*/
.main-content,
.main-sidebar{
    display: inline-block;
}

.main-content{
    width: 70%;
    padding-right: 2rem;
}

.main-sidebar{
    width: 25%;
    vertical-align: top;
    padding-left: 1rem;
}

.main-sidebar ul{
    padding: 0 0 1rem 1rem;
}

.main-sidebar > section{
    padding-bottom: 1.5rem;
}

