*, *:before, *:after {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
    font-size: 20px;
}

body {
    padding: 1rem;
    display: flex;
}

div {
    display: flex;
    height: 35rem;
    max-width: 15vw;
    flex-wrap: wrap;
    align-content: stretch;
    align-items: stretch;
    flex-direction: column;
}

span {
    display: flex;
    flex: 1 1 2%;
    border: 1px black solid;
    padding: 0.7rem 2rem;
    margin: 0.3rem;
    align-items: center;
    /*align-self: flex-end;*/
}

/*.container:nth-child(1){*/
/*    display: flex;*/
/*    order: 2;*/
/*}*/


/*span:nth-child(1){*/
/*    order: 2;*/
/*}*/

span:nth-child(5){
    order: 9;
}

span:nth-child(2){
    order: 10;
}

span:nth-child(7){
    order: 11;
}

span:nth-child(10){
    order: 12;
}

span:nth-child(8){
    order: 1;
}